@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
:root {
    --accent-color: #00ff88;
    --red-shadow-color: #ff4141;
    --blue-shadow-color: #3131ff;
}
  
::selection, ::-moz-selection  {
    background-color: #009d54;
    color: white;
}
*{
    box-sizing: border-box;
}
.inline {
    text-decoration: none;
}
.underline {
    text-decoration: underline;
}
a{
    display: inline-block;
    color: var(--accent-color);
    text-decoration: none;
    margin-bottom: 2px;
    transition: 0.04s;
    word-wrap: break-word;
}
a:hover{
    background-color:var(--accent-color);
    color: black;
    text-decoration: none;
    text-shadow: none;
    box-shadow: 1.5px 0 0.5px var(--red-shadow-color), -1px 0 0.5px var(--blue-shadow-color), 0 0 3px var(--accent-color);
}
h1, h2, h3{
    font-weight: bold;
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.2rem;
}
p, a{
    font-size: 0.9rem;
    
}
.command_p{
    margin-top:0;
    word-break: break-all;
}
ul{
    list-style-type: none;
    padding: 0;
}
hr{
    width: 40%;
    margin: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dashed var(--accent-color);
    box-shadow: 0 0 2px var(--accent-color);
}
body,html{
    margin: 0;
    padding: 0;
}
html{
    font-size: 1.3em;
    background-color: transparent;
}
body{
    background-color: transparent;
    color: var(--accent-color);
    font-family: 'VT323', monospace;
    text-shadow: 2px 0 0.5px var(--red-shadow-color), -2px 0 0.5px var(--blue-shadow-color), 0 0 2px var(--accent-color);
    
    min-height: 100vh;
}

.fixed_pattern{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #030303;
    background-image: radial-gradient(#284637 0px, transparent 1px);
    background-size: 3px 15px;
    z-index: -1;
}
.fixed_bg{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(transparent 0%, transparent 60%, #030303 90%, #030303 100%);
    background-size: 100vw 100vh;
    z-index: -1;
}

main{
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding:30px;
    
}
.to_hide{
    opacity: 0;
}
.ascii_art{
    letter-spacing:0;
    line-height:1;
    font-size: 0.8rem;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}
.project{
    margin-top: 40px;
}
.cursor{
    display: inline-block;
    width: 0.5rem;
    height: 0.7rem;
    background-color: var(--accent-color);
    box-shadow: 1.5px 0 0.5px var(--red-shadow-color), -1px 0 0.5px var(--blue-shadow-color), 0 0 3px var(--accent-color);
    margin-left: 3px;
    animation: blink 1s infinite;
}
.chart{
    margin-top: 40px;
    width: 100%;
    -webkit-filter: url(#kill);
}
address{
    margin-top: 40px;
    font-style: normal;
}
@keyframes blink {
	0% {opacity: 0}
	10%{opacity: 1}
    40%{opacity: 1}
	100% {opacity: 0}
}
@media only screen and (max-width: 550px) {
    main{
        padding: 15px;
    }
    a{
        margin-bottom: 5px;
    }
    html{
        font-size: 21px;
    }
    body{
        text-shadow: 1.5px 0 0.5px var(--red-shadow-color), -1.5px 0 0.5px var(--blue-shadow-color), 0 0 2px var(--accent-color);
    }
    .ascii_art{
        font-size: 3.4vw;
    }
  }
  @media only screen and (max-width: 300px) {
   .ascii_art{
        font-size: 3.2vw;
    }
  }